/*// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

* {
	box-sizing: border-box;
}

header .openner {
  height: 70vh;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.sign-in {
	width: 20%;
	height: 40vh;
	float: right;
	margin-right: 5%;
	margin-top: 6%;
	background-color: rgba(32, 32, 32, 0.7);
	border-radius: 3px;
	p {
		text-align: center;
		color: #F4F4F4;
	}
}

.new-session input[type="email"] {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  left: 1vw;
  padding: 0.5vw .5vw 0.5vw .5vw;
  font-size: 0.9vw;
  width: 83%;
  height: 3vh;
  font-family: "Lato", sans-serif;
  border-radius: 1px;
  border: 1px solid lightgrey;
  background-color: white;
}

.new-session input[type="password"] {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  left: 1vw;
  padding: 0.5vw .5vw 0.5vw .5vw;
  font-size: 0.9vw;
  width: 83%;
  height: 3vh;
  font-family: "Lato", sans-serif;
  border-radius: 1px;
  border: 1px solid lightgrey;
  background-color: white;
}

.new-session input[type="submit"] {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  left: 1vw;
  padding: 0.5vw .5vw 0.5vw .5vw;
  font-size: 1vw;
  width: 89%;
  height: 5vh;
  font-family: "Lato", sans-serif;
  border-radius: 1px;
  border: 1px solid #0D7E83;
  background-color: #0D7E83;
  color: white;
}

.new-session a {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  display: inline-block;
  text-align: center;
  left: 1vw;
  padding: 0.5vw .5vw 0.5vw .5vw;
  font-size: 1vw;
  width: 89%;
  height: 5vh;
  font-family: "Lato", sans-serif;
  border-radius: 1px;
  border: 1px solid #0D7E83;
  background-color: #0D7E83;
  color: white;
}
